In [1]:
# Import Dependencies
import pandas as pd

# Create reference to CSV file
fpath = "Resources/selfscoutdata.xlsx"

# Import the CSV into a pandas DataFrame
raw = pd.read_excel(fpath)
raw.head()

,#,Name,Down,Distance,FieldPosition,Gain,R/P,FORM,STR,Form Fam,MOTION,Protection,PLAY,OFF PERS,Signal,pff_PASSRESULT,T,FORM ADJUSTMENT,FIB,Hash
0,1,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-25,58.0,R,DOUBLES,LT,NaN,NaN,ICE,MUSTANG,11,2.0,NaN,NaN,NaN,NaN,L
1,2,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,17,17.0,R,TURBO,NaN,NaN,NaN,FIRE,OLE,11,3.0,NaN,TRIPS,NaN,X,L
2,3,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-19,3.0,R,DUO,LT,NaN,NaN,FIRE,ZACK,11,3.0,NaN,NaN,NaN,NaN,L
3,4,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",2,7,-22,7.0,R,TURBO,NaN,NaN,NaN,FIRE,OZZY,11,1.0,NaN,TRIO,NaN,NaN,L
4,5,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-29,0.0,P,TRIO,LT,NaN,NaN,BURN,TORCH,11,2.0,INCOMPLETE,NaN,NaN,NaN,R

In [2]:
overallrp = raw[["FORM", "R/P",]]
run = overallrp.loc[overallrp["R/P"] == "R"]
rp = run.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="R")
rp.head()

       FORM R/P   R
0       ALL   R   4
1  ALL KING   R  10
2     ALPHA   R   4
3     DEUCE   R   8
4   DOUBLES   R  13

In [3]:
pas = overallrp.loc[overallrp["R/P"] == "P"]
pp = pas.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="P")
pp.head()

            FORM R/P  P
0        0 TRIPS   P  1
1  9 LOUIE NASTY   P  1
2            ACE   P  2
3            ALL   P  1
4       ALL KING   P  1

In [6]:
mer = rp.merge(pp, on='FORM')
fin = mer[['FORM','R', 'P']]
fin = fin.set_index('FORM')
tt = fin.div(fin.sum(axis=1), axis=0)
mer = fin.merge(tt, on='FORM')
mer.insert(loc=0, column='GAME', value="COMBINED")
mer.rename(columns={'R_x': 'R', 'P_x': 'P', 'R_y': 'R%', 'P_y': 'P%'}, inplace=True)
pd.options.display.float_format = '{:,.0%}'.format
mer = mer.reset_index()
mer

           FORM   R   P  R%  P%      GAME
0           ALL   4   1 80% 20%  COMBINED
1      ALL KING  10   1 91%  9%  COMBINED
2         ALPHA   4   1 80% 20%  COMBINED
3         DEUCE   8  19 30% 70%  COMBINED
4       DOUBLES  13  47 22% 78%  COMBINED
5           DUO  47  79 37% 63%  COMBINED
6         EMPTY   1   4 20% 80%  COMBINED
7          EXIT   2   4 33% 67%  COMBINED
8         JOKER   8   1 89% 11%  COMBINED
9          KING   9  12 43% 57%  COMBINED
10        LOUIE   4   4 50% 50%  COMBINED
11    LOUIE FAR   1   1 50% 50%  COMBINED
12   LOUIE KING   3   6 33% 67%  COMBINED
13  LOUIE QUEEN   4   2 67% 33%  COMBINED
14        QUADS   1   1 50% 50%  COMBINED
15        ROGER   6  12 33% 67%  COMBINED
16    ROGER FAR   1   1 50% 50%  COMBINED
17   ROGER KING   9   9 50% 50%  COMBINED
18         TREY  20   9 69% 31%  COMBINED
19         TRIO  47  53 47% 53%  COMBINED
20        TRIPS   7  28 20% 80%  COMBINED
21         TROY   5   1 83% 17%  COMBINED
22        TURBO  34  26 57% 43%  COMBINED

In [ ]:
#################### NEXT STEP #####################
#pd.reset_option("all")
raw["Name"]= raw["Name"].str.split(",", n = 1, expand = True)
game = raw.loc[raw["Name"] == '20 01 UTSA OFF VS TX STATE DEF (9_12_2020)']

run = game[["FORM", "R/P",]]
run = run.loc[run["R/P"] == "R"]
run = run.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="R")
run

In [ ]:
pas1 = game.loc[overallrp["R/P"] == "P"]
pas1 = pas1.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="P")

pas1

In [ ]:
mer1 = run.merge(pas1, on='FORM')
fin1 = mer1[['FORM','R', 'P']]
fin1 = fin1.set_index('FORM')
tt1 = fin1.div(fin1.sum(axis=1), axis=0)
mer1 = fin1.merge(tt1, on='FORM')
mer1.rename(columns={'R_x': 'R', 'P_x': 'P', 'R_y': 'R%', 'P_y': 'P%'}, inplace=True)
pd.options.display.float_format = '{:,.0%}'.format
mer1 = mer1.reset_index()
mer1