In [1]:
# Import Dependencies
import pandas as pd

# Create reference to CSV file
fpath = "Resources/selfscoutdata.xlsx"

# Import the CSV into a pandas DataFrame
raw = pd.read_excel(fpath)
raw.head()

,#,Name,Down,Distance,FieldPosition,Gain,R/P,FORM,STR,Form Fam,MOTION,Protection,PLAY,OFF PERS,Signal,pff_PASSRESULT,T,FORM ADJUSTMENT,FIB,Hash
0,1,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-25,58.0,R,DOUBLES,LT,NaN,NaN,ICE,MUSTANG,11,2.0,NaN,NaN,NaN,NaN,L
1,2,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,17,17.0,R,TURBO,NaN,NaN,NaN,FIRE,OLE,11,3.0,NaN,TRIPS,NaN,X,L
2,3,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-19,3.0,R,DUO,LT,NaN,NaN,FIRE,ZACK,11,3.0,NaN,NaN,NaN,NaN,L
3,4,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",2,7,-22,7.0,R,TURBO,NaN,NaN,NaN,FIRE,OZZY,11,1.0,NaN,TRIO,NaN,NaN,L
4,5,"20 01 UTSA OFF VS TX STATE DEF (9_12_2020), Pl...",1,10,-29,0.0,P,TRIO,LT,NaN,NaN,BURN,TORCH,11,2.0,INCOMPLETE,NaN,NaN,NaN,R

In [2]:
overallrp = raw[["FORM", "R/P",]]
run = overallrp.loc[overallrp["R/P"] == "R"]
rp = run.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="R")
rp.head()

       FORM R/P   R
0       ALL   R   4
1  ALL KING   R  10
2     ALPHA   R   4
3     DEUCE   R   8
4   DOUBLES   R  13

In [3]:
pas = overallrp.loc[overallrp["R/P"] == "P"]
pp = pas.groupby(["FORM","R/P"])["R/P"].count().reset_index(name="P")
pp.head()

            FORM R/P  P
0        0 TRIPS   P  1
1  9 LOUIE NASTY   P  1
2            ACE   P  2
3            ALL   P  1
4       ALL KING   P  1

In [4]:
mer = rp.merge(pp, on='FORM')
fin = mer[['FORM','R', 'P']]
fin = fin.set_index('FORM')
tt = fin.div(fin.sum(axis=1), axis=0)
mer = fin.merge(tt, on='FORM')
mer.rename(columns={'R_x': 'R', 'P_x': 'P', 'R_y': 'R%', 'P_y': 'P%'}, inplace=True)
pd.options.display.float_format = '{:,.0%}'.format
mer = mer.reset_index()
mer.insert(loc=0, column='Name', value="COMBINED")
mer

        Name         FORM   R   P  R%  P%
0   COMBINED          ALL   4   1 80% 20%
1   COMBINED     ALL KING  10   1 91%  9%
2   COMBINED        ALPHA   4   1 80% 20%
3   COMBINED        DEUCE   8  19 30% 70%
4   COMBINED      DOUBLES  13  47 22% 78%
5   COMBINED          DUO  47  79 37% 63%
6   COMBINED        EMPTY   1   4 20% 80%
7   COMBINED         EXIT   2   4 33% 67%
8   COMBINED        JOKER   8   1 89% 11%
9   COMBINED         KING   9  12 43% 57%
10  COMBINED        LOUIE   4   4 50% 50%
11  COMBINED    LOUIE FAR   1   1 50% 50%
12  COMBINED   LOUIE KING   3   6 33% 67%
13  COMBINED  LOUIE QUEEN   4   2 67% 33%
14  COMBINED        QUADS   1   1 50% 50%
15  COMBINED        ROGER   6  12 33% 67%
16  COMBINED    ROGER FAR   1   1 50% 50%
17  COMBINED   ROGER KING   9   9 50% 50%
18  COMBINED         TREY  20   9 69% 31%
19  COMBINED         TRIO  47  53 47% 53%
20  COMBINED        TRIPS   7  28 20% 80%
21  COMBINED         TROY   5   1 83% 17%
22  COMBINED        TURBO  34  26 57% 43%

In [13]:
#################### NEXT STEP #####################
#pd.reset_option("all")
raw["Game"]= raw["Name"].str.split(",", n = 1, expand = True)
overallrp1 = raw[["Game", "FORM", "R/P",]]

run = overallrp1[["Game", "FORM", "R/P",]]
run = run.loc[run["R/P"] == "R"]
run = run.groupby(["Game", "FORM","R/P"])["R/P"].count().reset_index(name="R")
run

                                          Game        FORM R/P  R
0   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)    ALL KING   R  4
1   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)       DEUCE   R  5
2   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)     DOUBLES   R  3
3   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)         DUO   R  5
4   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)        KING   R  1
..                                         ...         ...  .. ..
93      20 08 UTSA OFF VS FAU DEF (10/31/2020)       JOKER   R  7
94      20 08 UTSA OFF VS FAU DEF (10/31/2020)  ROGER KING   R  1
95      20 08 UTSA OFF VS FAU DEF (10/31/2020)        TREY   R  1
96      20 08 UTSA OFF VS FAU DEF (10/31/2020)        TRIO   R  3
97      20 08 UTSA OFF VS FAU DEF (10/31/2020)       TURBO   R  3

[98 rows x 4 columns]

In [15]:
pas1 = overallrp1.loc[overallrp1["R/P"] == "P"]
pas1 = pas1.groupby(["Game", "FORM","R/P"])["R/P"].count().reset_index(name="P")

pas1

                                           Game           FORM R/P  P
0    20 01 UTSA OFF VS TX STATE DEF (9_12_2020)  9 LOUIE NASTY   P  1
1    20 01 UTSA OFF VS TX STATE DEF (9_12_2020)          DEUCE   P  2
2    20 01 UTSA OFF VS TX STATE DEF (9_12_2020)            DUO   P  6
3    20 01 UTSA OFF VS TX STATE DEF (9_12_2020)  JOKER SQUEEZE   P  1
4    20 01 UTSA OFF VS TX STATE DEF (9_12_2020)           KING   P  2
..                                          ...            ...  .. ..
96       20 08 UTSA OFF VS FAU DEF (10/31/2020)           TREY   P  1
97       20 08 UTSA OFF VS FAU DEF (10/31/2020)          TRIBE   P  1
98       20 08 UTSA OFF VS FAU DEF (10/31/2020)           TRIO   P  8
99       20 08 UTSA OFF VS FAU DEF (10/31/2020)          TRIPS   P  9
100      20 08 UTSA OFF VS FAU DEF (10/31/2020)          TURBO   P  1

[101 rows x 4 columns]

In [16]:
mer1 = run.merge(pas1, on=['Game','FORM'])
fin1 = mer1[['Game','FORM','R', 'P']]
fin1 = fin1.set_index(['Game','FORM'])
tt1 = fin1.div(fin1.sum(axis=1), axis=0)
mer1 = fin1.merge(tt1, on=['Game', 'FORM'])
mer1.rename(columns={'R_x': 'R', 'P_x': 'P', 'R_y': 'R%', 'P_y': 'P%'}, inplace=True)
pd.options.display.float_format = '{:,.0%}'.format
mer1 = mer1.reset_index()
mer1

                                          Game        FORM  R  P  R%  P%
0   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)       DEUCE  5  2 71% 29%
1   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)         DUO  5  6 45% 55%
2   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)        KING  1  2 33% 67%
3   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)       LOUIE  1  2 33% 67%
4   20 01 UTSA OFF VS TX STATE DEF (9_12_2020)  LOUIE KING  1  3 25% 75%
..                                         ...         ... .. ..  ..  ..
60      20 08 UTSA OFF VS FAU DEF (10/31/2020)       EMPTY  1  1 50% 50%
61      20 08 UTSA OFF VS FAU DEF (10/31/2020)        EXIT  2  1 67% 33%
62      20 08 UTSA OFF VS FAU DEF (10/31/2020)        TREY  1  1 50% 50%
63      20 08 UTSA OFF VS FAU DEF (10/31/2020)        TRIO  3  8 27% 73%
64      20 08 UTSA OFF VS FAU DEF (10/31/2020)       TURBO  3  1 75% 25%

[65 rows x 6 columns]

In [11]:
result = pd.concat([mer, mer1])
result

                                      Name      FORM   R   P  R%  P%
0                                 COMBINED       ALL   4   1 80% 20%
1                                 COMBINED  ALL KING  10   1 91%  9%
2                                 COMBINED     ALPHA   4   1 80% 20%
3                                 COMBINED     DEUCE   8  19 30% 70%
4                                 COMBINED   DOUBLES  13  47 22% 78%
..                                     ...       ...  ..  ..  ..  ..
60  20 08 UTSA OFF VS FAU DEF (10/31/2020)     EMPTY   1   1 50% 50%
61  20 08 UTSA OFF VS FAU DEF (10/31/2020)      EXIT   2   1 67% 33%
62  20 08 UTSA OFF VS FAU DEF (10/31/2020)      TREY   1   1 50% 50%
63  20 08 UTSA OFF VS FAU DEF (10/31/2020)      TRIO   3   8 27% 73%
64  20 08 UTSA OFF VS FAU DEF (10/31/2020)     TURBO   3   1 75% 25%

[88 rows x 6 columns]